.reveal footer {
  position: absolute;
  bottom: 1em;
  left: 1em;
  z-index: 1000;
  font-size: 0.3em;
}

.reveal footer img {
  height: 1.5em;
  vertical-align: middle;
  margin-right: 0.5em;
}

.reveal h1 {
  font-size: 1.5em;
}

.reveal h2 {
  font-size: 1.2em;
}

.reveal .right-col {
  float: right;
  width: 40%;
}

.reveal .left-col {
  float: left;
  width: 60%;
}

.mt-1 {
  margin-top: 1em !important;
}

.ml-1 {
  margin-left: 1em !important;
}

.mr-1 {
  margin-right: 1em !important;
}

.mr-2 {
  margin-right: 2em !important;
}

.pl-1 {
  padding-left: 1em !important;
}

.pr-1 {
  padding-right: 1em !important;
}

.mb-1 {
  margin-bottom: 1em !important;
}

.mb-2 {
  margin-bottom: 2em !important;
}

.reveal .align-left {
  text-align: left;
}

.reveal .align-center {
  text-align: center;
}

.reveal .align-right {
  text-align: right;
}

.sources {
  float: left;
  text-align: left;
}

.reveal .hidden {
  display: none;
}

.text-blue {
  color: #007bff;
}

.text-blue-highlight {
  color: #7eb6f1;
}

.w-10 {
  width: 10% !important;
}

.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.float-start {
  float: left;
}

.flex {
  display: flex;
}

.circular-img {
  border-radius: 50%;
}

.fs-06 {
  font-size: 0.6em;
}

p code {
  background-color: #7ca7dd; /* dark gray background */
  color: #d1d5da; /* light text color */
  border-radius: 6px; /* smooth rounded corners */
  white-space: nowrap; /* prevent wrapping */
  padding-left: 0.2em; /* space around text */
  padding-right: 0.2em; /* space around text */
  text-transform: none !important;
}

.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none !important;
}

li {
  margin-top: 1em;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
p code {
  background-color: #7ca7dd; /* dark gray background */
  color: #d1d5da; /* light text color */
  border-radius: 6px; /* smooth rounded corners */
  white-space: nowrap; /* prevent wrapping */
  padding-left: 0.2em; /* space around text */
  padding-right: 0.2em; /* space around text */
}
