.python {
  overflow-x: hidden !important ;
}

.language-plaintext {
  overflow: hidden !important ;
}

.code-wrapper {
  font-family: monospace !important;
  width: 100% !important;
  /* no wrap */
  white-space: nowrap !important;
}

code {
  font-family: monospace !important;
  white-space: pre-wrap !important;
  font-size: 0.7em;
}

pre.fullscreen {
  position: fixed;
  top: -4vh;
  height: 42vh !important;
  font-size: 0.4em;
}

pre.fullscreen code {
  max-height: none;
}
