.reveal footer {
  position: absolute;
  bottom: 1em;
  left: 1em;
  z-index: 1000;
  font-size: 0.3em;
}

.reveal footer img {
  height: 1.5em;
  vertical-align: middle;
  margin-right: 0.5em;
}

.reveal h1 {
  font-size: 1.5em;
}

.reveal h2 {
  font-size: 1.2em;
}

.reveal .right-col {
  float: right;
  width: 40%;
}

.reveal .left-col {
  float: left;
  width: 60%;
}

.mt-1 {
  margin-top: 1em !important;
}

.ml-1 {
  margin-left: 1em !important;
}

.mr-1 {
  margin-right: 1em !important;
}

.pl-1 {
  padding-left: 1em !important;
}

.pr-1 {
  padding-right: 1em !important;
}

.reveal .align-left {
  text-align: left;
}

.sources {
  float: left;
  text-align: left;
}

.reveal .hidden {
  display: none;
}

.text-blue {
  color: #007bff;
}

.text-blue-highlight {
  color: #7eb6f1;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-25 {
  width: 25% !important;
}

.float-start {
  float: left;
}

.flex {
  display: flex;
}

.circular-img {
  border-radius: 50%;
}
